<div class="container h-100 m-4"> 
    <div class="row justify-content-md-center h-100">
        
        <div class="col-3 h-100 border border-4 border-success">
            TuDu
            <button>Add</button>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut voluptatem vitae in distinctio tempora dolorem itaque, sunt ipsum. Sapiente laborum amet ducimus fugit veritatis, illum error quia iste corrupti impedit?
            Nisi similique officiis id est esse inventore accusamus corporis, beatae, delectus, totam hic ducimus quod saepe voluptates asperiores odio excepturi dolorem nemo sunt consequatur! Reiciendis corrupti consequatur nobis dicta animi?
            Culpa perferendis, doloremque sapiente aliquam ipsam recusandae! Cumque voluptatum ipsum at adipisci cupiditate natus placeat eveniet dignissimos quisquam perferendis nostrum, repellat vitae, qui tempore labore modi delectus debitis ipsam. Velit.
            Odit voluptatibus cum et nulla! Saepe sit fuga in excepturi ducimus optio necessitatibus natus blanditiis cum libero. Dolore repellendus asperiores, quo commodi mollitia enim, animi natus omnis labore ipsam accusantium.
            Dignissimos laudantium ullam labore voluptas saepe nisi ipsa. Tempora officiis adipisci voluptate, doloremque dolores, corporis omnis cum eius, repellendus aspernatur deleniti maiores consequuntur necessitatibus a est dolorem. Eaque, adipisci eos.
            Libero velit rerum nesciunt! Ipsum et molestiae perspiciatis non iusto ducimus consequatur dolore. Totam pariatur rem quibusdam harum, eveniet magnam expedita, mollitia adipisci laboriosam voluptates explicabo aut, eaque culpa provident.
            Voluptatum, adipisci vero repudiandae consequuntur assumenda fuga! Quasi nisi fugit beatae assumenda quisquam doloremque, explicabo, dolore, maiores quod cumque modi facilis iusto. Voluptate id saepe illo ea sequi facilis dolorem?
            Repellendus iusto impedit magnam sint deleniti doloribus cupiditate amet dicta modi ipsam totam non, saepe recusandae fugit error natus libero ut dolore ducimus, porro expedita similique officia unde? Laboriosam, omnis!
            Non, ullam nulla? Quam illum dicta aliquam veniam accusamus. Blanditiis laboriosam unde iure minus est deserunt consequuntur. Totam, dolor perferendis, et, culpa ex animi quam beatae nulla voluptatum inventore libero.
            Id distinctio similique fugiat minima hic accusantium placeat? A sequi nostrum at quaerat, reprehenderit excepturi obcaecati doloremque perspiciatis assumenda facilis dignissimos optio doloribus in animi dicta, suscipit esse fugit natus!
        </div>
       
      </div>
</div>

<!-- <div class="m-x-25 p-x-25 border border-4 border-success">
test
</div> -->
    