<div class="container-fluid m-4">
    <div class="d-flex row justify-content-md-center">

        <div class="col-6">
            <app-add-todo></app-add-todo><hr>
            <p class="h3 text-primary">Todo's</p>
            <div *ngFor="let task of tasks">
                <app-to-do-items [todo]="task" (todoDelete)="deleteTodo($event)"></app-to-do-items>
            </div>
            <!-- <table class="table table-bordered w-100">
                <tr *ngFor="let task of tasks" class="d-flex">
                    <app-to-do-items [todo]="task"></app-to-do-items>
                </tr>

            </table> -->
        </div>
    </div>
</div>

<!-- <div class="m-x-25 p-x-25 border border-4 border-success">
test
</div> -->