<div class="container-fluid m-4">
    <div class="d-flex row justify-content-md-center">

        <div class="col-6">
            <div class="m-2">
                <p class="h3 text-primary">Edit Todo's</p>
                <form (ngSubmit)="onSubmit()" name="myForm" #myForm="ngForm">
                    <div class="mb-3">
                        <label for="taskName" class="form-label">Task Name</label>
                        <input type="type" class="form-control" id="taskName" name="taskName" aria-describedby="taskNameHelp" [(ngModel)]="taskName">
                        <!-- <div id="taskNameHelp" class="form-text">Task Title.</div> -->
                    </div>
                    <div class="mb-3">
                        <label for="comment" class="form-label">Comment</label>
                        <input type="type" class="form-control" id="comment" name="comment" [(ngModel)]="comment" >
                    </div>
                    <!-- <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div> -->
                    <button type="submit" class="btn btn-primary">Edit</button>
                </form>
                <!-- <button class="btn btn-outline-primary" (click)="onAdd()">Add</button> -->
            </div>
        </div>
    </div>
</div>